<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="cmp58B3179E8125BC1C4B2AB793F96C6F7B" Guid="{CA8DD61F-F662-4F03-B958-D82760B285EF}">
                <File Id="fil08C19C1D2296ACB8F5063B1E8AC7B24B" KeyPath="yes" Source="$(env.SuperFormFilesDir)\AutomationCommon.dll" />
            </Component>
            <Component Id="cmp9469113258D81FECF9737A46B68206F5" Guid="{ABC711FF-15D2-4F72-968B-1D6D8413B4DA}">
                <File Id="fil78C6B7A6782200A1E4F359158B19FDE6" KeyPath="yes" Source="$(env.SuperFormFilesDir)\AutomationCommon.pdb" />
            </Component>
            <Component Id="cmp7EBA7A6FFB6E7155D5F503921DF1F0AB" Guid="{2DE2C942-D250-48F4-B30C-BDD8F9E4E572}">
                <File Id="fil5A49109431B73F9027A12B7A9A4EA0F3" KeyPath="yes" Source="$(env.SuperFormFilesDir)\DocumentFormat.OpenXml.dll" />
            </Component>
            <Component Id="cmp9769CEF4B8F100D464012C233C7BC91C" Guid="{00C46463-98CD-4416-A477-8534CE96C78B}">
                <File Id="filD41CC0B84ABD37B828E8E9766B2BF791" KeyPath="yes" Source="$(env.SuperFormFilesDir)\DocumentFormat.OpenXml.xml" />
            </Component>
            <Component Id="cmpAB9BD5C9C5A480A7381238DE792E8E27" Guid="{FD57511D-427C-4588-931E-27AA16AD03FC}">
                <File Id="fil10541240F96C408DF55D1141E3F05391" KeyPath="yes" Source="$(env.SuperFormFilesDir)\EPPlus.dll" />
            </Component>
            <Component Id="cmp80D1164EC45937ADAFAD2DECA4B3F1DB" Guid="{01188F50-E773-4A8B-8148-709A00C51320}">
                <File Id="fil29ABDD1C73FD0A40C19227387FCC3F9C" KeyPath="yes" Source="$(env.SuperFormFilesDir)\EPPlus.xml" />
            </Component>
            <Component Id="cmpB822D8D21234B198129559558602EA15" Guid="{BEE91426-76CB-48AE-919F-FE86540E2749}">
                <File Id="fil70F47B8DB373B101877A2B90CB715ECE" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IG-Data.dll" />
            </Component>
            <Component Id="cmp51B7951C06D361337E1D794EF9C039BA" Guid="{81FE23D4-842C-4406-8601-AACB1635C747}">
                <File Id="filAFBE8F9F58EE6A7015BECE0ECA8AFA3A" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGLinkBase.dll" />
            </Component>
            <Component Id="cmp54317F55134960A09BC8D7CDCB93AA31" Guid="{F1B485C0-6C26-405A-B415-95117219D684}">
                <File Id="filD732194DA59DDE8D5DA94916FE4E8902" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IgxlData.dll" />
            </Component>
            <Component Id="cmp147ED65C9460570DE3E5D615EF2F3C5D" Guid="{1F7F683E-917F-49AE-B5D6-9F067E29ED25}">
                <File Id="fil0585C1C773B019C32B99B36F572007A8" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IgxlData.pdb" />
            </Component>
            <Component Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" Guid="{5D32D2B5-DED0-4C7E-BE25-E11850332449}">
                <File Id="fil2991F53D601CDF7142D0A9E1B42E116E" KeyPath="yes" Source="$(env.SuperFormFilesDir)\log4net.dll" />
            </Component>
            <Component Id="cmp2CD5175859DBAD32C79AB28206F8FE72" Guid="{75D9AAD8-A67D-4555-9D67-BEB0F134CD93}">
                <File Id="filBE7AD3ADA59DF064941D8D7F02E13AE9" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Common.dll" />
            </Component>
            <Component Id="cmpD7905903BEC4D5235C881454BA27B24A" Guid="{A5B05418-6BE0-4867-ABAB-0066793ACDCF}">
                <File Id="fil35A2C4A02B5664006DA00ABA3BEA8250" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
            </Component>
            <Component Id="cmpB63C4C9B3AA550FA5C40C1484FC33063" Guid="{69FE91D5-635C-4F22-9FB3-2B19911BFBC6}">
                <File Id="filCAE00E3F61C1EC326A4A2911755CF9BD" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Common.v4.0.Utilities.xml" />
            </Component>
            <Component Id="cmpA784E52922602CE02CBFFA8F2E313497" Guid="{DDFB2D80-4DB5-4D6B-9951-4E63EB90F1C0}">
                <File Id="filD4FBDB5B4C7E5FF057F4057920128DB3" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Common.xml" />
            </Component>
            <Component Id="cmpEA2227DA6832F042DA6CB202193C7323" Guid="{9A58B882-53FE-4701-89C1-F3907641D786}">
                <File Id="fil0D7102ADEFA5BD6F08DAE513A48896BA" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.dll" />
            </Component>
            <Component Id="cmp952A631901D331D99A5AB0F337FC6536" Guid="{6C7A36FB-42A1-47BF-A3D9-E2A1EA117AFD}">
                <File Id="filEF1564B3E67EBDD37E7E06EA2507CEF0" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Excel.dll" />
            </Component>
            <Component Id="cmp4BCCED302CA026FB6765EB9F4D03EA70" Guid="{86B9C50A-591A-4187-B0CA-413AA5025BCD}">
                <File Id="fil90CC312705E5D34A751153916EF36B47" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.Office.Tools.Excel.xml" />
            </Component>
            <Component Id="cmp1FA5EBCF9D4E85C15C480BA2AFF6AF75" Guid="{56FB8AD8-9A80-400B-8F99-E414E68928DB}">
                <File Id="filA0B94A25C4EAFA69C653E479AAA01ABF" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.VisualStudio.Tools.Applications.Runtime.dll" />
            </Component>
            <Component Id="cmpBFD6CB61733175144F3132AF174C162B" Guid="{83DA40FE-1BE6-43BA-9901-CDD4C2312C90}">
                <File Id="fil6219743C97C9179A1B4171E0E885041D" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.VisualStudio.Tools.Applications.Runtime.xml" />
            </Component>
            <Component Id="cmpD50AAEBA16B0EDC9604A98ACE658A845" Guid="{2A450D03-DBEC-4885-ACC0-470102BC9F77}">
                <File Id="filCEEBBF9C2BEC45096E1C078FBEA81F7D" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="cmp22F8D282DB59EF9E4E43C92C5C180A12" Guid="{4DDDF1BD-E6B5-4153-A24A-E1FE5B11B1BA}">
                <File Id="fil5512F1826793049537DA79C9E3A80EEF" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="cmpCDEA6EDEFDB07C8FDF216F5718E1EB99" Guid="{6DB50E12-29C1-4990-BE2B-EB40B4EBC3AE}">
                <File Id="fil1FA3DC4D638AD4A215A15DA5FF3BEFCA" KeyPath="yes" Source="$(env.SuperFormFilesDir)\OasisUtilityLib.dll" />
            </Component>
            <Component Id="cmp9DB709EB7DB963A17908B20A309A9007" Guid="{01C7FF0F-EE49-44FA-83C5-CB2B077B2A15}">
                <File Id="filC90204946DA48F9D5EA4B9F637E559C9" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PmicAutogen.dll" />
            </Component>
            <Component Id="cmp4C92F53A1CF826807076C55E61B92961" Guid="{C8E976F9-8600-48DD-BAA9-8271AD2E3D08}">
                <File Id="fil8E5A5CAAE4253CC8881CE5679D1FD1A1" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PmicAutogen.pdb" />
            </Component>
            <Component Id="cmpD59260556935367AFA3ABA59C6AE1D6C" Guid="{745EBCF8-D5FB-4316-9AE2-F2B78770DEB4}">
                <File Id="fil8118BDC4627467547C0B6B272C25EC07" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PMICAutogenAddIn.dll" />
            </Component>
            <Component Id="cmpACF8E694131F63DB35647DF1AF71D5F0" Guid="{33F6D89E-A7F2-4A05-B476-B8F25EC065A1}">
                <File Id="fil74119DD5644119C3245D24D4D9ACFF26" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PMICAutogenAddIn.dll.manifest" />
            </Component>
            <Component Id="cmp55DE635F09FBCA99B75E1C37D5F113D6" Guid="{84F54BBF-046E-4D4E-89F0-4500F461FCCC}">
                <File Id="fil1247122911775D19E033438E23323B4F" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PMICAutogenAddIn.pdb" />
            </Component>
            <Component Id="cmp514B563D90E885CC2219D8277CF3545E" Guid="{97CD5D39-9829-4ABD-B12E-53B0876C7797}">
                <File Id="fil9AC50328EA9749FCD490F25530882B65" KeyPath="yes" Source="$(env.SuperFormFilesDir)\PMICAutogenAddIn.vsto" />
            </Component>
            <Component Id="cmp750F050B31A6A9AAE6D4AD1A15F5FB2C" Guid="{20C5F5DC-A573-4C63-B3AD-CE0A8B270E9D}">
                <File Id="filBA36AA8D3AB3ADE563603154B066DE6E" KeyPath="yes" Source="$(env.SuperFormFilesDir)\ProgramUtils.dll" />
            </Component>
            <Directory Id="dir8C2D8C1AF83C941DCC5D6C73AB29F9F2" Name="Config">
                <Component Id="cmpAE093FE140EA61B2E98E4FEFBDCF29A5" Guid="{519802BD-0BC4-44F7-BADC-50E59C7A680D}">
                    <File Id="filDCE57B525D148C5E54EBEA442ADD451F" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Config\Config.xlsx" />
                </Component>
                <Directory Id="dirA4DC2DE176ACFE9995B6795E7ED6CEB2" Name="NamingRule">
                    <Component Id="cmp287F719CA309F157B76F6CD1AAFB1DAD" Guid="{FDA64724-DEB5-421A-9DAC-F6EFE9661D22}">
                        <File Id="fil957BDC553A7758256366BBBAC8B2FA3B" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Config\NamingRule\Scan_Config.xml" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir0F2799FA71A14A552F2E5CD85EF758ED" Name="Help">
                <Component Id="cmp0803618B48545D0C0D1187DAEF3103D2" Guid="{D4131F12-0E31-4966-AE61-7D8A05A9AE7F}">
                    <File Id="fil3941EA296EA9A931C4B05F97426047B8" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Help\PMICAutogenHelp.chm" />
                </Component>
            </Directory>
            <Directory Id="dir115DA5DA32F6AD4A5AC6780DDBA0CABF" Name="HelpFile">
                <Component Id="cmp868B8F71CB342F6285D55EA49F0BD905" Guid="{729D02D5-7114-4B25-BF93-9655B42E32BC}">
                    <File Id="fil8CC496979DB95817AE3C77F216A69CD1" KeyPath="yes" Source="$(env.SuperFormFilesDir)\HelpFile\Setting.xlsx" />
                </Component>
            </Directory>
            <Directory Id="dir0045907C8562BB7AAF74814F020F55E3" Name="IGDataXML">
                <Directory Id="dir304C9B2B5A98BA69E858FE4B71601C4D" Name="IGXLSheetsVersion">
                    <Component Id="cmp25755EB689CD015B99A96C13E4EB6338" Guid="{BE45A05D-4E30-412D-B972-62923246E417}">
                        <File Id="filB2488B65DE078BF063354453666E5885" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\IGXLSheets.xsd" />
                    </Component>
                    <Component Id="cmpB0F38027E47DB9CBF06A2D162033D12A" Guid="{C13AE60A-3061-4E63-B4B9-42B3165D571C}">
                        <File Id="fil675C243E0D4AF466EC18E3250040D13D" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v10.00_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp0527456F1E3713ED5DF2B23523FFFE62" Guid="{98F45F64-4736-4757-9CCC-35D3E7D25BB5}">
                        <File Id="fil40BAFCD695082E2324BA7317AC9D4653" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v10.10_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp8CC69A171AEE8EDD3BC31A8C7AD31963" Guid="{4D1C3FC3-381A-436D-AD0F-0464F9B5DD61}">
                        <File Id="filA651126AFE63E463E051BD9E537823F2" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v3.60_j750.xml" />
                    </Component>
                    <Component Id="cmp84AB447B033B0E5D115935D035FF4528" Guid="{16C1843E-A866-45BB-B5AE-1FAD9F2EF914}">
                        <File Id="fil12DAE52A44911584557178B62C6B9E4E" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v5.30_flex.xml" />
                    </Component>
                    <Component Id="cmpDE76E08D85DD2034CE6BE5D309F81600" Guid="{CB2D4A83-516D-4F9D-A500-C5894D823598}">
                        <File Id="filC0E2319CFAF026511988913022C16F0C" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v8.10_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp8BAFFE2E87D3E8CA5CC09157919467A7" Guid="{22743C22-8B7D-4B23-B63C-E39FC02F7C98}">
                        <File Id="fil067A4CE99C3A589836C3D1E00EB82CD4" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v8.20_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp5B4FA08F76B0A321291BFFACB495ED74" Guid="{60B2B52E-CA6E-4572-A117-A2EA10C76B92}">
                        <File Id="filCA679A55D57A1247B9F6BC69E3DF3B53" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v8.30_ultraflex.xml" />
                    </Component>
                    <Component Id="cmpE8FA9E30A2BF4995CD149CAC1D1FE3F5" Guid="{1961033F-4A11-4B07-B29B-73896D00426D}">
                        <File Id="fil3F79E1F4ECC57EB80885774E9E175246" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\IGXLSheetsVersion\v9.00_ultraflex.xml" />
                    </Component>
                </Directory>
                <Directory Id="dirF141B04DBACC39612AE1D9DB299D16FD" Name="SheetClassMapping">
                    <Component Id="cmpF4A195C77BD64F92EC151E75A96FFCDE" Guid="{47387000-69B6-4297-A99B-DCEC74527BB6}">
                        <File Id="fil3850726EC8E4CE9FEE4C8276651971FF" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\IGXL.xsd" />
                    </Component>
                    <Component Id="cmpE7F18EEEA362AEA855CBD1386332268C" Guid="{CD3F081E-6B5B-4F7A-B225-8CB1265E1B74}">
                        <File Id="fil751A627817394B3F4632079EBE22581E" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v10.00_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp6A1DC1F3C5CE0CE687CBD49B73AE3703" Guid="{3A0D15C2-0109-4EEA-8315-35EA97D1BE09}">
                        <File Id="filF99D36E02A2C2CE3EF8A491FD729535C" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v10.10_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp300DF3B9A7CA1DCFC26D9130C484459D" Guid="{9F8C97B8-16A8-4B05-A778-1EED2A19F30A}">
                        <File Id="fil20A18E4B533CAB729D5FBD06EAEDDC1C" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v10.20_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp2DBD6092B440F855B1753E61C5A40969" Guid="{0E7D6743-B059-4547-BF29-41AD4E051FBC}">
                        <File Id="fil87C6ECE08E44B55CD87472361B4DA921" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v3.60_j750.xml" />
                    </Component>
                    <Component Id="cmp4A249504D4D895A488132D06EC2247C0" Guid="{F7150C8D-07EC-4AC6-8617-F7780AE3D35E}">
                        <File Id="fil69DBA207BB0EA516FCE027A6F8DF8ECB" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v5.30_flex.xml" />
                    </Component>
                    <Component Id="cmpBC934F9B498B4943ADDC5101072674D3" Guid="{2C7646A2-C2B1-492B-97F2-31191460328C}">
                        <File Id="filF510E45819604B5967436D8A642CA2D4" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v8.10_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp803BB1E8698EC033806D1F14FECBD67A" Guid="{631B5C71-F5D9-41BA-8807-F9B79FC04568}">
                        <File Id="filC8FAB4CD0F9611560E0AB75D2EFE481F" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v8.20_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp4387AE0B34882BFCBDA863EE83993517" Guid="{0C901A65-FA1B-44C8-B28B-D0DBB5AAA302}">
                        <File Id="filEF70BE4EB2571DE7A36FC6D68ED48B05" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v8.30_ultraflex.xml" />
                    </Component>
                    <Component Id="cmp10AC8C88F976CEF1B314134E9ED1067A" Guid="{2D872C65-3C3C-45CF-AD39-919B5CEC50DE}">
                        <File Id="filE63A4C57A6B909D5BF9618FA1D835ACC" KeyPath="yes" Source="$(env.SuperFormFilesDir)\IGDataXML\SheetClassMapping\v9.00_ultraflex.xml" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir61B122782F2749F187324C134F6498C1" Name="Resources">
                <Component Id="cmp7A167341F8EE985797B7F49157C88433" Guid="{D290517E-E2D1-4AB7-9046-BD17EF5D1FC1}">
                    <File Id="fil3F7BD902854E32287110037F4FFEEB67" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Resources\alarm-1.png" />
                </Component>
                <Component Id="cmp7711F75D11B3B32D47041C3835BAE76F" Guid="{634ADB27-AEDA-41AD-A7C0-6D9DAF87D268}">
                    <File Id="fil1297E2A97F9A735C91FEF1FC70B5745A" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Resources\info.png" />
                </Component>
                <Component Id="cmp7B0B8A6C7C5C09173833772AD8CE83C2" Guid="{C812DEA3-B2B8-45AB-BB69-E6F99EAD09CD}">
                    <File Id="fil2B72B8613E9CFDC196CBF7E3BD57F380" KeyPath="yes" Source="$(env.SuperFormFilesDir)\Resources\play-button-1.png" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SuperFormFiles">
            <ComponentRef Id="cmp58B3179E8125BC1C4B2AB793F96C6F7B" />
            <ComponentRef Id="cmp9469113258D81FECF9737A46B68206F5" />
            <ComponentRef Id="cmp7EBA7A6FFB6E7155D5F503921DF1F0AB" />
            <ComponentRef Id="cmp9769CEF4B8F100D464012C233C7BC91C" />
            <ComponentRef Id="cmpAB9BD5C9C5A480A7381238DE792E8E27" />
            <ComponentRef Id="cmp80D1164EC45937ADAFAD2DECA4B3F1DB" />
            <ComponentRef Id="cmpB822D8D21234B198129559558602EA15" />
            <ComponentRef Id="cmp51B7951C06D361337E1D794EF9C039BA" />
            <ComponentRef Id="cmp54317F55134960A09BC8D7CDCB93AA31" />
            <ComponentRef Id="cmp147ED65C9460570DE3E5D615EF2F3C5D" />
            <ComponentRef Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" />
            <ComponentRef Id="cmp2CD5175859DBAD32C79AB28206F8FE72" />
            <ComponentRef Id="cmpD7905903BEC4D5235C881454BA27B24A" />
            <ComponentRef Id="cmpB63C4C9B3AA550FA5C40C1484FC33063" />
            <ComponentRef Id="cmpA784E52922602CE02CBFFA8F2E313497" />
            <ComponentRef Id="cmpEA2227DA6832F042DA6CB202193C7323" />
            <ComponentRef Id="cmp952A631901D331D99A5AB0F337FC6536" />
            <ComponentRef Id="cmp4BCCED302CA026FB6765EB9F4D03EA70" />
            <ComponentRef Id="cmp1FA5EBCF9D4E85C15C480BA2AFF6AF75" />
            <ComponentRef Id="cmpBFD6CB61733175144F3132AF174C162B" />
            <ComponentRef Id="cmpD50AAEBA16B0EDC9604A98ACE658A845" />
            <ComponentRef Id="cmp22F8D282DB59EF9E4E43C92C5C180A12" />
            <ComponentRef Id="cmpCDEA6EDEFDB07C8FDF216F5718E1EB99" />
            <ComponentRef Id="cmp9DB709EB7DB963A17908B20A309A9007" />
            <ComponentRef Id="cmp4C92F53A1CF826807076C55E61B92961" />
            <ComponentRef Id="cmpD59260556935367AFA3ABA59C6AE1D6C" />
            <ComponentRef Id="cmpACF8E694131F63DB35647DF1AF71D5F0" />
            <ComponentRef Id="cmp55DE635F09FBCA99B75E1C37D5F113D6" />
            <ComponentRef Id="cmp514B563D90E885CC2219D8277CF3545E" />
            <ComponentRef Id="cmp750F050B31A6A9AAE6D4AD1A15F5FB2C" />
            <ComponentRef Id="cmpAE093FE140EA61B2E98E4FEFBDCF29A5" />
            <ComponentRef Id="cmp287F719CA309F157B76F6CD1AAFB1DAD" />
            <ComponentRef Id="cmp0803618B48545D0C0D1187DAEF3103D2" />
            <ComponentRef Id="cmp868B8F71CB342F6285D55EA49F0BD905" />
            <ComponentRef Id="cmp25755EB689CD015B99A96C13E4EB6338" />
            <ComponentRef Id="cmpB0F38027E47DB9CBF06A2D162033D12A" />
            <ComponentRef Id="cmp0527456F1E3713ED5DF2B23523FFFE62" />
            <ComponentRef Id="cmp8CC69A171AEE8EDD3BC31A8C7AD31963" />
            <ComponentRef Id="cmp84AB447B033B0E5D115935D035FF4528" />
            <ComponentRef Id="cmpDE76E08D85DD2034CE6BE5D309F81600" />
            <ComponentRef Id="cmp8BAFFE2E87D3E8CA5CC09157919467A7" />
            <ComponentRef Id="cmp5B4FA08F76B0A321291BFFACB495ED74" />
            <ComponentRef Id="cmpE8FA9E30A2BF4995CD149CAC1D1FE3F5" />
            <ComponentRef Id="cmpF4A195C77BD64F92EC151E75A96FFCDE" />
            <ComponentRef Id="cmpE7F18EEEA362AEA855CBD1386332268C" />
            <ComponentRef Id="cmp6A1DC1F3C5CE0CE687CBD49B73AE3703" />
            <ComponentRef Id="cmp300DF3B9A7CA1DCFC26D9130C484459D" />
            <ComponentRef Id="cmp2DBD6092B440F855B1753E61C5A40969" />
            <ComponentRef Id="cmp4A249504D4D895A488132D06EC2247C0" />
            <ComponentRef Id="cmpBC934F9B498B4943ADDC5101072674D3" />
            <ComponentRef Id="cmp803BB1E8698EC033806D1F14FECBD67A" />
            <ComponentRef Id="cmp4387AE0B34882BFCBDA863EE83993517" />
            <ComponentRef Id="cmp10AC8C88F976CEF1B314134E9ED1067A" />
            <ComponentRef Id="cmp7A167341F8EE985797B7F49157C88433" />
            <ComponentRef Id="cmp7711F75D11B3B32D47041C3835BAE76F" />
            <ComponentRef Id="cmp7B0B8A6C7C5C09173833772AD8CE83C2" />
        </ComponentGroup>
    </Fragment>
</Wix>