<?xml version="1.0" encoding="UTF-8"?>
<?include ProductConfiguration.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="CE2CEA93-9DD3-4724-8FE3-FCBF0A0915C1"
			 Name="$(var.ProductName)"
			 Language="1033"
			 Version="$(var.ProductVersion)"
			 Manufacturer="$(var.ProductManufacturer)"
			 UpgradeCode="$(var.ProductUpgradeCode)">
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallPrivileges="elevated"
             AdminImage="yes"
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Property Id="VSTORUNTIMEREDIST">
      <RegistrySearch
			  Id="VSTORuntimeRedist"
			  Root="HKLM"
			  Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
			  Name="Version"
			  Type="raw" />
    </Property>
    <Condition
		  Message="The Visual Studio 2010 Tools for Office Runtime is not installed. 
      Please download and install from http://www.microsoft.com/en-us/download/details.aspx?id=20479.">
      <![CDATA[Installed OR VSTORUNTIMEREDIST>="10.0.30319"]]>
    </Condition>

    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <Media Id="1" Cabinet="PMICAutogenAddIn.cab" EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="My Excel Add-in" Level="1">
      <ComponentRef Id="ProductComponents"/>
      <ComponentGroupRef Id="SuperFormFiles"/>
    </Feature>

    <Property Id="WIXUI_INSTALLDIR" Value="TeradyneFolder" />
    <UIRef Id="WixUI_InstallDir" />
    
    <WixVariable Id="WixUILicenseRtf" Value="Standard SLA (12 Jun 08).rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Bmp\BannerBmp.png"/>
    <WixVariable Id="WixUIDialogBmp" Value="Bmp\DialogBmp.png"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="My">
        <Directory Id="TeradyneFolder" Name="$(var.ProductManufacturer)">
          <Directory Id="INSTALLDIR" Name="ExcelAddin">
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--<Property Id="APPLICATIONFOLDER">
      <RegistrySearch Key="Software\Microsoft\Office\Excel\AddIns\PMICAutogenAddIn"
							Root="HKCU"
							Type="raw"
							Id="APPLICATIONFOLDER_REGSEARCH"
							Name="Manifest" />
    </Property>
    <Property Id="SOURCEDIRECTORY" Value="$(var.PMICAutogenAddIn.TargetDir)" />
    <Property Id="SOURCEDIRECTORYHELP" Value="$(var.PMICAutogenAddIn.TargetDir)\Help" />-->
    <DirectoryRef Id="INSTALLDIR">

      <Component Id="ProductComponents" Guid="6F06E122-B475-4180-9081-1BD3266E65FE">

        <!--<CopyFile Id="CopyDIR" SourceProperty="SOURCEDIRECTORY" DestinationDirectory="INSTALLDIR" SourceName="*"/>
				<CopyFile Id="CopyHelpDIR" SourceProperty="SOURCEDIRECTORYHELP" DestinationDirectory="HELPDIR" SourceName="*"/>-->

        <!-- <RemoveFolder Id="RemoveHelp" Directory="HELPDIR" On="uninstall"/>
        <RemoveFile Id="RemoveHelpFiles" Directory="HELPDIR" Name ="*.*" On="uninstall"/>-->
        <RemoveFile Id="RemoveFiles" Directory="INSTALLDIR" Name ="*.*" On="uninstall"/>
        <RemoveFolder Id="RemoveINSTALLDIR" Directory="INSTALLDIR" On="uninstall"/>
        <RemoveFolder Id="RemoveTeradyneFolder" Directory="TeradyneFolder" On="uninstall"/>

        <RegistryKey Root="HKCU"
							 Key="Software\Microsoft\Office\Excel\AddIns\PMICAutogenAddIn"
							 Action="createAndRemoveOnUninstall">
          <RegistryValue Id="RegKey_Manifest"
								   Name="Manifest"
								   Value="[INSTALLDIR]PMICAutogenAddIn.vsto|vstolocal"
								   Type="string"
								   KeyPath="yes" />
          <RegistryValue Id="RegKey_FriendlyName"
								   Name="FriendlyName"
								   Value="My Excel Add-In"
								   Type="string"/>
          <RegistryValue Id="RegKey_Description"
								   Name="Description"
								   Value="My very cool Excel Add-In"
								   Type="string"/>
          <RegistryValue Id="RegKey_LoadBehavior"
								   Name="LoadBehavior" Value="3"
								   Type="integer"/>
        </RegistryKey>
      </Component>

    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <Component Id="cmp58B3179E8125BC1C4B2AB793F96C6F7B" Guid="{6E269C6A-7FBB-45AA-81DD-22D2F867844C}">
        <File Id="fil08C19C1D2296ACB8F5063B1E8AC7B24B" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\AutomationCommon.dll" />
      </Component>
      <Component Id="cmp9469113258D81FECF9737A46B68206F5" Guid="{64018A6D-592E-4A47-AB4B-CEC1B7B66EB8}">
        <File Id="fil78C6B7A6782200A1E4F359158B19FDE6" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\AutomationCommon.pdb" />
      </Component>
      <Component Id="cmp7EBA7A6FFB6E7155D5F503921DF1F0AB" Guid="{1A193E6B-C6CA-4919-94CC-102FAA4BD7BF}">
        <File Id="fil5A49109431B73F9027A12B7A9A4EA0F3" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\DocumentFormat.OpenXml.dll" />
      </Component>
      <Component Id="cmp9769CEF4B8F100D464012C233C7BC91C" Guid="{420219E8-C52A-4D8F-919E-B8E267C75231}">
        <File Id="filD41CC0B84ABD37B828E8E9766B2BF791" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\DocumentFormat.OpenXml.xml" />
      </Component>
      <Component Id="cmpAB9BD5C9C5A480A7381238DE792E8E27" Guid="{A3FF9E65-12D0-4F32-B935-A4A65F01B69C}">
        <File Id="fil10541240F96C408DF55D1141E3F05391" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\EPPlus.dll" />
      </Component>
      <Component Id="cmp80D1164EC45937ADAFAD2DECA4B3F1DB" Guid="{97EAE7D5-63C6-4ED1-9E13-E7557AEC3D3B}">
        <File Id="fil29ABDD1C73FD0A40C19227387FCC3F9C" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\EPPlus.xml" />
      </Component>
      <Component Id="cmpB822D8D21234B198129559558602EA15" Guid="{4EE6272C-0F66-4357-907D-7B46C2FECFB6}">
        <File Id="fil70F47B8DB373B101877A2B90CB715ECE" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IG-Data.dll" />
      </Component>
      <Component Id="cmp51B7951C06D361337E1D794EF9C039BA" Guid="{62DD8649-0D48-4395-AD8E-E7B926AECE4D}">
        <File Id="filAFBE8F9F58EE6A7015BECE0ECA8AFA3A" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGLinkBase.dll" />
      </Component>
      <Component Id="cmp54317F55134960A09BC8D7CDCB93AA31" Guid="{2D479DD2-38F7-4463-BBC5-8C38F8F3AC6F}">
        <File Id="filD732194DA59DDE8D5DA94916FE4E8902" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IgxlData.dll" />
      </Component>
      <Component Id="cmp147ED65C9460570DE3E5D615EF2F3C5D" Guid="{621633EE-B89A-433F-8E79-38FD4AE5020D}">
        <File Id="fil0585C1C773B019C32B99B36F572007A8" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IgxlData.pdb" />
      </Component>
      <Component Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" Guid="{8EDF09A5-BECB-406B-8200-EFE881F222AD}">
        <File Id="fil2991F53D601CDF7142D0A9E1B42E116E" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\log4net.dll" />
      </Component>
      <Component Id="cmp2CD5175859DBAD32C79AB28206F8FE72" Guid="{0F4D40B8-D8D6-4F54-88E6-578F4410ED5B}">
        <File Id="filBE7AD3ADA59DF064941D8D7F02E13AE9" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Common.dll" />
      </Component>
      <Component Id="cmpD7905903BEC4D5235C881454BA27B24A" Guid="{928A9185-DBE3-4E16-AF89-ADD37808AEF6}">
        <File Id="fil35A2C4A02B5664006DA00ABA3BEA8250" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" />
      </Component>
      <Component Id="cmpB63C4C9B3AA550FA5C40C1484FC33063" Guid="{F152DAE2-CBE6-4D76-AE79-0ED70CE9B687}">
        <File Id="filCAE00E3F61C1EC326A4A2911755CF9BD" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Common.v4.0.Utilities.xml" />
      </Component>
      <Component Id="cmpA784E52922602CE02CBFFA8F2E313497" Guid="{6EB92451-692F-4F4E-9A24-B6FD1D65ABE7}">
        <File Id="filD4FBDB5B4C7E5FF057F4057920128DB3" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Common.xml" />
      </Component>
      <Component Id="cmpEA2227DA6832F042DA6CB202193C7323" Guid="{A2D2222D-707A-4FCB-961D-B0B07561B58D}">
        <File Id="fil0D7102ADEFA5BD6F08DAE513A48896BA" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.dll" />
      </Component>
      <Component Id="cmp952A631901D331D99A5AB0F337FC6536" Guid="{088A2FAF-4480-43E1-864B-2210A3D01788}">
        <File Id="filEF1564B3E67EBDD37E7E06EA2507CEF0" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Excel.dll" />
      </Component>
      <Component Id="cmp4BCCED302CA026FB6765EB9F4D03EA70" Guid="{63E095DC-81CE-4573-B5FF-EE770B2999E9}">
        <File Id="fil90CC312705E5D34A751153916EF36B47" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.Office.Tools.Excel.xml" />
      </Component>
      <Component Id="cmp1FA5EBCF9D4E85C15C480BA2AFF6AF75" Guid="{1485FD7C-AC0E-423B-9026-51F1C99FFDE6}">
        <File Id="filA0B94A25C4EAFA69C653E479AAA01ABF" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.VisualStudio.Tools.Applications.Runtime.dll" />
      </Component>
      <Component Id="cmpBFD6CB61733175144F3132AF174C162B" Guid="{613535A2-757B-4059-9454-6CEAB925BA9E}">
        <File Id="fil6219743C97C9179A1B4171E0E885041D" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.VisualStudio.Tools.Applications.Runtime.xml" />
      </Component>
      <Component Id="cmpD50AAEBA16B0EDC9604A98ACE658A845" Guid="{84EE9293-C1B9-46C7-AD4C-699A3FF0F78B}">
        <File Id="filCEEBBF9C2BEC45096E1C078FBEA81F7D" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.WindowsAPICodePack.dll" />
      </Component>
      <Component Id="cmp22F8D282DB59EF9E4E43C92C5C180A12" Guid="{E154ACB5-F2D8-4151-92A5-B3F4D1E4193E}">
        <File Id="fil5512F1826793049537DA79C9E3A80EEF" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Microsoft.WindowsAPICodePack.Shell.dll" />
      </Component>
      <Component Id="cmpCDEA6EDEFDB07C8FDF216F5718E1EB99" Guid="{02B06D5C-371D-4F5E-ABB9-898C45FC973B}">
        <File Id="fil1FA3DC4D638AD4A215A15DA5FF3BEFCA" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\OasisUtilityLib.dll" />
      </Component>
      <Component Id="cmp9DB709EB7DB963A17908B20A309A9007" Guid="{7321B75A-994F-45F4-8992-F959CB0B3BFD}">
        <File Id="filC90204946DA48F9D5EA4B9F637E559C9" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PmicAutogen.dll" />
      </Component>
      <Component Id="cmp4C92F53A1CF826807076C55E61B92961" Guid="{E7FD7854-1AFE-48A6-8AE2-582CD8AD70C9}">
        <File Id="fil8E5A5CAAE4253CC8881CE5679D1FD1A1" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PmicAutogen.pdb" />
      </Component>
      <Component Id="cmpD59260556935367AFA3ABA59C6AE1D6C" Guid="{2EC0C029-782C-4875-939F-8F648062C088}">
        <File Id="fil8118BDC4627467547C0B6B272C25EC07" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PMICAutogenAddIn.dll" />
      </Component>
      <Component Id="cmpACF8E694131F63DB35647DF1AF71D5F0" Guid="{1A91BCCC-BF8F-4654-BD2E-BD385DEF530B}">
        <File Id="fil74119DD5644119C3245D24D4D9ACFF26" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PMICAutogenAddIn.dll.manifest" />
      </Component>
      <Component Id="cmp55DE635F09FBCA99B75E1C37D5F113D6" Guid="{BAB8F0CE-C6D5-4940-A436-28DE8DCF0B33}">
        <File Id="fil1247122911775D19E033438E23323B4F" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PMICAutogenAddIn.pdb" />
      </Component>
      <Component Id="cmp514B563D90E885CC2219D8277CF3545E" Guid="{E76A85C3-26F8-4396-9948-F243110F6D61}">
        <File Id="fil9AC50328EA9749FCD490F25530882B65" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\PMICAutogenAddIn.vsto" />
      </Component>
      <Component Id="cmp750F050B31A6A9AAE6D4AD1A15F5FB2C" Guid="{F2FEEF7A-4EFD-455B-8CDB-22DDC3B33129}">
        <File Id="filBA36AA8D3AB3ADE563603154B066DE6E" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\ProgramUtils.dll" />
      </Component>
      <Directory Id="dir8C2D8C1AF83C941DCC5D6C73AB29F9F2" Name="Config">
        <Component Id="cmpAE093FE140EA61B2E98E4FEFBDCF29A5" Guid="{4F2E5F47-CC98-412F-9DBA-A3E3BAA3B95D}">
          <File Id="filDCE57B525D148C5E54EBEA442ADD451F" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Config\Config.xlsx" />
        </Component>
        <Directory Id="dirA4DC2DE176ACFE9995B6795E7ED6CEB2" Name="NamingRule">
          <Component Id="cmp287F719CA309F157B76F6CD1AAFB1DAD" Guid="{679048AB-C4E4-4C4F-8CBC-709B5F9CD1ED}">
            <File Id="fil957BDC553A7758256366BBBAC8B2FA3B" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Config\NamingRule\Scan_Config.xml" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="dir0F2799FA71A14A552F2E5CD85EF758ED" Name="Help">
        <Component Id="cmp0803618B48545D0C0D1187DAEF3103D2" Guid="{BAEDC924-0ACC-4976-84A9-6BDE8B7207C8}">
          <File Id="fil3941EA296EA9A931C4B05F97426047B8" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Help\PMICAutogenHelp.chm" />
        </Component>
      </Directory>
      <Directory Id="dir115DA5DA32F6AD4A5AC6780DDBA0CABF" Name="HelpFile">
        <Component Id="cmp868B8F71CB342F6285D55EA49F0BD905" Guid="{0EA86F3D-3165-44BD-872B-0A1E7E879375}">
          <File Id="fil8CC496979DB95817AE3C77F216A69CD1" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\HelpFile\Setting.xlsx" />
        </Component>
      </Directory>
      <Directory Id="dir0045907C8562BB7AAF74814F020F55E3" Name="IGDataXML">
        <Directory Id="dir304C9B2B5A98BA69E858FE4B71601C4D" Name="IGXLSheetsVersion">
          <Component Id="cmp25755EB689CD015B99A96C13E4EB6338" Guid="{43B94914-D91D-41FD-ACFF-CB6C9744F4E2}">
            <File Id="filB2488B65DE078BF063354453666E5885" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\IGXLSheets.xsd" />
          </Component>
          <Component Id="cmpB0F38027E47DB9CBF06A2D162033D12A" Guid="{B2D6C4BE-7734-48DB-89E7-1D2BA35BEDA6}">
            <File Id="fil675C243E0D4AF466EC18E3250040D13D" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v10.00_ultraflex.xml" />
          </Component>
          <Component Id="cmp0527456F1E3713ED5DF2B23523FFFE62" Guid="{36670B62-9E04-489A-9613-CB515DA8B268}">
            <File Id="fil40BAFCD695082E2324BA7317AC9D4653" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v10.10_ultraflex.xml" />
          </Component>
          <Component Id="cmp8CC69A171AEE8EDD3BC31A8C7AD31963" Guid="{EF45B8BF-7D01-443B-AF10-F6E0D900067E}">
            <File Id="filA651126AFE63E463E051BD9E537823F2" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v3.60_j750.xml" />
          </Component>
          <Component Id="cmp84AB447B033B0E5D115935D035FF4528" Guid="{742E536E-154A-4C41-9D33-F1CB51656786}">
            <File Id="fil12DAE52A44911584557178B62C6B9E4E" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v5.30_flex.xml" />
          </Component>
          <Component Id="cmpDE76E08D85DD2034CE6BE5D309F81600" Guid="{B5699E77-3DD8-4E3C-8A4A-72C54CD225AE}">
            <File Id="filC0E2319CFAF026511988913022C16F0C" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v8.10_ultraflex.xml" />
          </Component>
          <Component Id="cmp8BAFFE2E87D3E8CA5CC09157919467A7" Guid="{BF1D2AD1-CBBE-48B3-A6C1-B7855BE28CC3}">
            <File Id="fil067A4CE99C3A589836C3D1E00EB82CD4" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v8.20_ultraflex.xml" />
          </Component>
          <Component Id="cmp5B4FA08F76B0A321291BFFACB495ED74" Guid="{162B3714-BF94-4DD3-ADC5-3098E4571E24}">
            <File Id="filCA679A55D57A1247B9F6BC69E3DF3B53" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v8.30_ultraflex.xml" />
          </Component>
          <Component Id="cmpE8FA9E30A2BF4995CD149CAC1D1FE3F5" Guid="{AB6BB979-CFED-4A39-8C77-099834D9362A}">
            <File Id="fil3F79E1F4ECC57EB80885774E9E175246" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\IGXLSheetsVersion\v9.00_ultraflex.xml" />
          </Component>
        </Directory>
        <Directory Id="dirF141B04DBACC39612AE1D9DB299D16FD" Name="SheetClassMapping">
          <Component Id="cmpF4A195C77BD64F92EC151E75A96FFCDE" Guid="{51547915-9D27-4582-A725-08CDFACF3B1F}">
            <File Id="fil3850726EC8E4CE9FEE4C8276651971FF" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\IGXL.xsd" />
          </Component>
          <Component Id="cmpE7F18EEEA362AEA855CBD1386332268C" Guid="{12562DFF-9DB9-4EEB-AB79-875827A967DB}">
            <File Id="fil751A627817394B3F4632079EBE22581E" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v10.00_ultraflex.xml" />
          </Component>
          <Component Id="cmp6A1DC1F3C5CE0CE687CBD49B73AE3703" Guid="{58C12DCA-9E7B-4097-8409-A79C9B0A267F}">
            <File Id="filF99D36E02A2C2CE3EF8A491FD729535C" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v10.10_ultraflex.xml" />
          </Component>
          <Component Id="cmp300DF3B9A7CA1DCFC26D9130C484459D" Guid="{0DE53C19-947E-4EC3-B740-A10A9927F918}">
            <File Id="fil20A18E4B533CAB729D5FBD06EAEDDC1C" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v10.20_ultraflex.xml" />
          </Component>
          <Component Id="cmp2DBD6092B440F855B1753E61C5A40969" Guid="{5E355C4C-976D-493F-BF7D-22E3B52E21D8}">
            <File Id="fil87C6ECE08E44B55CD87472361B4DA921" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v3.60_j750.xml" />
          </Component>
          <Component Id="cmp4A249504D4D895A488132D06EC2247C0" Guid="{EA3F299E-976A-4095-A54A-A8EF63742372}">
            <File Id="fil69DBA207BB0EA516FCE027A6F8DF8ECB" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v5.30_flex.xml" />
          </Component>
          <Component Id="cmpBC934F9B498B4943ADDC5101072674D3" Guid="{69247355-AB4B-4DC8-B60A-7B775FF95F07}">
            <File Id="filF510E45819604B5967436D8A642CA2D4" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v8.10_ultraflex.xml" />
          </Component>
          <Component Id="cmp803BB1E8698EC033806D1F14FECBD67A" Guid="{BC2954BE-FD1C-47E4-B759-B87BE94111A6}">
            <File Id="filC8FAB4CD0F9611560E0AB75D2EFE481F" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v8.20_ultraflex.xml" />
          </Component>
          <Component Id="cmp4387AE0B34882BFCBDA863EE83993517" Guid="{C109D4CC-3E19-46CB-8AA4-FDA5F431C752}">
            <File Id="filEF70BE4EB2571DE7A36FC6D68ED48B05" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v8.30_ultraflex.xml" />
          </Component>
          <Component Id="cmp10AC8C88F976CEF1B314134E9ED1067A" Guid="{226D89A6-B85C-47CA-BAD9-E305786E8A4E}">
            <File Id="filE63A4C57A6B909D5BF9618FA1D835ACC" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\IGDataXML\SheetClassMapping\v9.00_ultraflex.xml" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="dir61B122782F2749F187324C134F6498C1" Name="Resources">
        <Component Id="cmp7A167341F8EE985797B7F49157C88433" Guid="{05CEFB53-207E-4F2A-BC78-C8A02928878E}">
          <File Id="fil3F7BD902854E32287110037F4FFEEB67" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Resources\alarm.png" />
        </Component>
        <Component Id="cmp7711F75D11B3B32D47041C3835BAE76F" Guid="{EB923D29-C000-46C2-B82E-9A9691C2F142}">
          <File Id="fil1297E2A97F9A735C91FEF1FC70B5745A" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Resources\info.png" />
        </Component>
        <Component Id="cmp7B0B8A6C7C5C09173833772AD8CE83C2" Guid="{9C59F049-B416-434C-B81D-A6B5BF591E31}">
          <File Id="fil2B72B8613E9CFDC196CBF7E3BD57F380" KeyPath="yes" Source="C:\01.Jeffli\GitLab\AutoGen_Team\CSharp\PMICAutogenAddIn\PMICAutogenAddIn\bin\Debug\\Resources\play-button.png" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="SuperFormFiles">
      <ComponentRef Id="cmp58B3179E8125BC1C4B2AB793F96C6F7B" />
      <ComponentRef Id="cmp9469113258D81FECF9737A46B68206F5" />
      <ComponentRef Id="cmp7EBA7A6FFB6E7155D5F503921DF1F0AB" />
      <ComponentRef Id="cmp9769CEF4B8F100D464012C233C7BC91C" />
      <ComponentRef Id="cmpAB9BD5C9C5A480A7381238DE792E8E27" />
      <ComponentRef Id="cmp80D1164EC45937ADAFAD2DECA4B3F1DB" />
      <ComponentRef Id="cmpB822D8D21234B198129559558602EA15" />
      <ComponentRef Id="cmp51B7951C06D361337E1D794EF9C039BA" />
      <ComponentRef Id="cmp54317F55134960A09BC8D7CDCB93AA31" />
      <ComponentRef Id="cmp147ED65C9460570DE3E5D615EF2F3C5D" />
      <ComponentRef Id="cmp13D6573EA8CF3F99F44BAE837E2771F0" />
      <ComponentRef Id="cmp2CD5175859DBAD32C79AB28206F8FE72" />
      <ComponentRef Id="cmpD7905903BEC4D5235C881454BA27B24A" />
      <ComponentRef Id="cmpB63C4C9B3AA550FA5C40C1484FC33063" />
      <ComponentRef Id="cmpA784E52922602CE02CBFFA8F2E313497" />
      <ComponentRef Id="cmpEA2227DA6832F042DA6CB202193C7323" />
      <ComponentRef Id="cmp952A631901D331D99A5AB0F337FC6536" />
      <ComponentRef Id="cmp4BCCED302CA026FB6765EB9F4D03EA70" />
      <ComponentRef Id="cmp1FA5EBCF9D4E85C15C480BA2AFF6AF75" />
      <ComponentRef Id="cmpBFD6CB61733175144F3132AF174C162B" />
      <ComponentRef Id="cmpD50AAEBA16B0EDC9604A98ACE658A845" />
      <ComponentRef Id="cmp22F8D282DB59EF9E4E43C92C5C180A12" />
      <ComponentRef Id="cmpCDEA6EDEFDB07C8FDF216F5718E1EB99" />
      <ComponentRef Id="cmp9DB709EB7DB963A17908B20A309A9007" />
      <ComponentRef Id="cmp4C92F53A1CF826807076C55E61B92961" />
      <ComponentRef Id="cmpD59260556935367AFA3ABA59C6AE1D6C" />
      <ComponentRef Id="cmpACF8E694131F63DB35647DF1AF71D5F0" />
      <ComponentRef Id="cmp55DE635F09FBCA99B75E1C37D5F113D6" />
      <ComponentRef Id="cmp514B563D90E885CC2219D8277CF3545E" />
      <ComponentRef Id="cmp750F050B31A6A9AAE6D4AD1A15F5FB2C" />
      <ComponentRef Id="cmpAE093FE140EA61B2E98E4FEFBDCF29A5" />
      <ComponentRef Id="cmp287F719CA309F157B76F6CD1AAFB1DAD" />
      <ComponentRef Id="cmp0803618B48545D0C0D1187DAEF3103D2" />
      <ComponentRef Id="cmp868B8F71CB342F6285D55EA49F0BD905" />
      <ComponentRef Id="cmp25755EB689CD015B99A96C13E4EB6338" />
      <ComponentRef Id="cmpB0F38027E47DB9CBF06A2D162033D12A" />
      <ComponentRef Id="cmp0527456F1E3713ED5DF2B23523FFFE62" />
      <ComponentRef Id="cmp8CC69A171AEE8EDD3BC31A8C7AD31963" />
      <ComponentRef Id="cmp84AB447B033B0E5D115935D035FF4528" />
      <ComponentRef Id="cmpDE76E08D85DD2034CE6BE5D309F81600" />
      <ComponentRef Id="cmp8BAFFE2E87D3E8CA5CC09157919467A7" />
      <ComponentRef Id="cmp5B4FA08F76B0A321291BFFACB495ED74" />
      <ComponentRef Id="cmpE8FA9E30A2BF4995CD149CAC1D1FE3F5" />
      <ComponentRef Id="cmpF4A195C77BD64F92EC151E75A96FFCDE" />
      <ComponentRef Id="cmpE7F18EEEA362AEA855CBD1386332268C" />
      <ComponentRef Id="cmp6A1DC1F3C5CE0CE687CBD49B73AE3703" />
      <ComponentRef Id="cmp300DF3B9A7CA1DCFC26D9130C484459D" />
      <ComponentRef Id="cmp2DBD6092B440F855B1753E61C5A40969" />
      <ComponentRef Id="cmp4A249504D4D895A488132D06EC2247C0" />
      <ComponentRef Id="cmpBC934F9B498B4943ADDC5101072674D3" />
      <ComponentRef Id="cmp803BB1E8698EC033806D1F14FECBD67A" />
      <ComponentRef Id="cmp4387AE0B34882BFCBDA863EE83993517" />
      <ComponentRef Id="cmp10AC8C88F976CEF1B314134E9ED1067A" />
      <ComponentRef Id="cmp7A167341F8EE985797B7F49157C88433" />
      <ComponentRef Id="cmp7711F75D11B3B32D47041C3835BAE76F" />
      <ComponentRef Id="cmp7B0B8A6C7C5C09173833772AD8CE83C2" />
    </ComponentGroup>
  </Fragment>

</Wix>