<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FWFrame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FWFrame.Properties.Settings>
            <setting name="DispatherConfigureFilePath" serializeAs="String">
                <value>.\Configure\DispatherConfigure.xml</value>
            </setting>
            <setting name="FileGeneratorMapperConfigFilePath" serializeAs="String">
                <value>.\Configure\FileGeneratorMapperConfigure.xml</value>
            </setting>
            <setting name="ProtocolConfigFilePath" serializeAs="String">
                <value>.\Configure\ProtocolConfigure.xml</value>
            </setting>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>.\Template</value>
            </setting>
        </FWFrame.Properties.Settings>
    </applicationSettings>
</configuration>