<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Bootstrapper1" Version="1.0.0.0" Manufacturer="Teradyne" UpgradeCode="866bcb6e-24fc-4f76-a498-fa090b959a1f">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

		<Chain>
			<!-- TODO: Define the list of chained packages. -->
			 <MsiPackage SourceFile="C:\01.Jeffli\AutoGen_Team\trunk\CSharp\PMICAutogenAddIn\SetupProject1\bin\Debug\PMICAutogenAddIn_V1.2.0.10.msi" /> 
		</Chain>
	</Bundle>
</Wix>
